@model Resum_Portal.Models.DashBoardModel

@{
    ViewBag.Title = "UserData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/all.css" rel="stylesheet" />
<style>
    .link {
        text-decoration: none;
        color: white;
    }

        .link:hover {
            color: red;
        }
</style>
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="flaticon-381-television me-2 bg-gray-dark p-2 text-light rounded-circle"></i>Resume</h4>                
                        <button class="btn btn-primary float-end ms-3 me-3 mb-3" data-bs-toggle="modal" data-bs-target="#basicModal1">Add Resume</button>
                  
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Resumesdata != null)
                    {
                        <table class="table table-responsive-md" id="myTable">
                            <thead>
                                <tr class="bg-primary">
                                    <th class="width80"><strong class="text-light">#</strong></th>
                                    <th><strong class="text-light">Title</strong></th>
                                    <th><strong class="text-light">Designation</strong></th>
                                    <th><strong class="text-light">Resume</strong></th>
                                    <th><strong class="text-light">Keywords</strong></th>

                                    <th><strong class="text-light">UploadedBY</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1;}
                                @foreach (var resume in Model.Resumesdata)
                                {
                                    if (resume.Status != false)
                                    {
                                    <tr>
                                        <td><strong>@i</strong></td>
                                        <td>@resume.Title</td>
                                        <td>@resume.Designation</td>
                                        @*<td><a href="~/Content/@Model.Resumes.Designation/@Model.Resumes.Resume"><i class="fa-solid fa-file-pdf fs-4 text-danger"></i></a></td>*@
                                        <td><a href="~/Content/@resume.Designation/@resume.Resume"><i class="fa-solid fa-file-pdf fs-4 text-danger"></i></a></td>

                                        <td>@resume.KeyWords</td>

                                        <td>@resume.UploadedBy</td>
                                        <td> <button class="btn btn-primary"><a href="/home/ChangeStatusResume?id=@resume.id" class="link">Delete</a></button></td>
                                    </tr>
                                        i++;
                                    }

                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <center><span class="text-bg-dark mx-auto txt">No Data here ! Please Add Your Resume....</span></center>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="basicModal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Resume</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <span id="spn">@ViewBag.msg</span>
                        <form method="post" name="form" id="form1" enctype="multipart/form-data" class="form-valide-with-icon needs-validation" novalidate>

                            @Html.AntiForgeryToken()
                            <input type="email" name="email" hidden value="@User.Identity.Name">
                            <div class="mb-3">
                                <label class="text-label form-label" for="">Title :</label>
                                <div class="input-group">
                                    <span class="input-group-text search_icon"> <i class="fa-brands fa-battle-net"></i> </span>
                                    <input type="text" placeholder="Enter Title" name="Title" class="form-control br-style">
                                    <div class="invalid-feedback">
                                        Please Enter Title.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="text-label form-label" for="">Designation :</label>
                                <div class="input-group">
                                    <span class="input-group-text search_icon"> <i class="fa-solid fa-hat-cowboy"></i> </span>
                                    <select class="form-control mb-2" name="Designation">
                                        @if (Model != null)
                                        {
                                            <option disabled selected>--Select Your Designation</option>
                                            foreach (var item in Model.Designations)
                                            {

                                                <option>@item.Designation</option>
                                            }
                                        }
                                    </select>
                                    @*<div class="invalid-feedback">
                                            Please Enter Title.
                                        </div>*@
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="text-label form-label" for="">KeyWords :</label>
                                <div class="input-group">
                                    <span class="input-group-text search_icon"> <i class="fa-solid fa-magnifying-glass"></i> </span>
                                    <textarea name="KeyWords" class="form-control br-style"></textarea>
                                    <div class="invalid-feedback">
                                        Please Enter KeyWords.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="text-label form-label" for="">Upload Resume :</label>
                                <div class="input-group">
                                    <span class="input-group-text search_icon"> <i class="fa-solid fa-file"></i> </span>
                                    <input type="file" class="form-control" id="file" name="Resumes" multiple="multiple" required />
                                    @*<input type="file" class="form-control" id="file" name="Resumedata" onblur="return filevalidation()" multiple="multiple" required />*@
                                    <div class="invalid-feedback">
                                        Please Enter KeyWords.
                                        <span class="text-danger bg-warning" id="rsm"></span><br />
                                    </div>
                                </div>
                            </div>
                            <select name="Status" hidden>
                                <option>True</option>
                            </select>
                            <input type="text" name="UploadedBy" value="@User.Identity.Name" hidden>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<input type="submit" value="Change" class="btn btn-info mt-3 fs-4" style="font-family:'Agency FB'" onclick="changeresume()" />*@
                <button type="button" class="btn btn-primary" onclick="Addresume()">Submit</button>
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script>
       
        function filevalidation() {
            var resume = document.form.Resume.value;
            //alert(resume.length)
            if (resume.length != 0) {
                // alert(resume.substr(resume.length-4,))
                if ((resume.substr(resume.length - 4) != ".pdf") && (resume.substr(resume.length - 4) != ".doc")) {
                    // alert("only .pdf or .doc File")
                    document.getElementById("rsm").innerHTML = "** Only .pdf or .doc file uploaded";
                    document.getElementById("file").value = "";
                    return false;
                }
            }

        }

        setTimeout(function () {
            document.getElementById("span").remove();
        }, 5000);

        function Addresume() {
            var obj = new FormData();
            var data = $("#form1").serializeArray();
            for (var x of data) {
                obj.append(x.name, x.value);
            }
            //obj.append("Resume", $("#file").get(0).files[0]);
            var files = $('#file')[0].files;
            for (var i = 0; i < files.length; i++) {
                obj.append('Resumes', files[i]);
            }
            $.ajax({
                url: '/home/AddResume',
                type: 'POST',
                data: obj,
                processData: false,
                contentType: false,
                success: function () {
                    alert("Record Added");
                    location.href = "/home/UserData"; 

                },
                error: function () {
                    alert("Error");
                }
            })
        }
       
    </script>
