@model Resum_Portal.Models.DashBoardModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.UserData != null)
{
<!-- Non-Admin user view section -->
<div class="row">
    <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-0">
            <div class="profile-head">
                <div class="photo-content">
                    <div class="cover-photo rounded"></div>
                </div>
                <div class="profile-info">
                    <div class="profile-photo">
                        <img src="~/Content/profile/@Model.UserData.Photo" class="img-fluid rounded-circle" height="80" width="80" alt="">
                    </div>
                    <div class="profile-details">
                        <div class="profile-name px-3 pt-2">
                            <h4 class="text-primary mb-0">@Model.UserData.Name</h4>
                            <p>@Model.UserData.Designation</p>
                        </div>
                        @*<div class="profile-email px-2 pt-2">
                                <h4 class="text-muted mb-0">@Model.UserData.Email</h4>
                                <p>Email</p>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 rounded rounded-3 ms-4 mt-2 p-3 bg-light">
        <div class="profile-personal-info">
            <h4 class="text-primary mb-4">Personal Information</h4>
            <div class="row mb-2">
                <div class="col-sm-3 col-5">
                    <h5 class="f-w-500">
                        Name <span class="pull-end">:</span>
                    </h5>
                </div>
                <div class="col-sm-9 col-7">
                    <span>@Model.UserData.Name</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-3 col-5">
                    <h5 class="f-w-500">
                        Email <span class="pull-end">:</span>
                    </h5>
                </div>
                <div class="col-sm-9 col-7">
                    <span>@Model.UserData.Email</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-3 col-5">
                    <h5 class="f-w-500">
                        Mobile <span class="pull-end">:</span>
                    </h5>
                </div>
                <div class="col-sm-9 col-7">
                    <span>@Model.UserData.Mobile</span>
                </div>
            </div>
           
            <button class="btn btn-primary mt-3"><a href="/home/Edit?id=@User.Identity.Name" class="link">Edit</a></button>
        </div>

    </div>
</div>

}
